@model konusarakogren.Entity.Quiz
@{
    ViewData["Title"] = "QuizView";
}

<h1>QuizView</h1>

<html>
<head></head>
<body>
    @{
        <br />
        <input type="hidden" value="@ViewBag.quizid" id="quizid" />
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <input type="hidden" value="@ViewBag.quizid" id="quizid" />
                <center><h1 class="display-4">@ViewBag.posts</h1></center>
                <center> <p class="lead">@ViewBag.description</p></center>
            </div>
        </div>

        <div class="row">

            @for (int i = 0; i < Convert.ToInt32(ViewBag.count); i++)
            {
            <br />
            string a = "soru" + (i + 1);
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@ViewBag.questions[i]</h5>
                        <label id="@a-tasarim-a" class="btn btn-secondary active" style=" width: 100%; height: 40%; ">
                            <input type="radio" name="@a" value="a" /> @ViewBag.a[i]
                        </label>
                        <label id="@a-tasarim-b" class="btn btn-secondary active" style=" width: 100%; height: 40%;">
                            <input type="radio" name="@a" value="b" /> @ViewBag.b[i]
                        </label>
                        <label id="@a-tasarim-c" class="btn btn-secondary active" style=" width: 100%; height: 40%;  ">
                            <input type="radio" name="@a" value="c" /> @ViewBag.c[i]
                        </label>
                        <label id="@a-tasarim-d" class="btn btn-secondary active" style=" width: 100%; height: 40%;  ">
                            <input type="radio" name="@a" value="d" /> @ViewBag.d[i]
                        </label>
                    </div>
                </div>
            </div>

            }
        </div>
        <br />
        <center><input type="submit" value="Sınavı Bitir" id="checkSubmit" class="btn btn-primary btn-lg btn-block" style="background-color:#ee2c2c; opacity: 0.8; width: 30%; height: 40%;" /></center>
    }

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
    $(document).ready(function () {
        $("#checkSubmit").click(function () {
            var nr1 = $("input[name='soru1']:checked").val();
            var nr2 = $("input[name='soru2']:checked").val();
            var nr3 = $("input[name='soru3']:checked").val();
            var nr4 = $("input[name='soru4']:checked").val();
            var quizId = $('#quizid').val();
            $.ajax({
                url: '@Url.Action("QuizCheck", "Home")?soru1=' + nr1 + '&soru2=' + nr2 + '&soru3=' + nr3 + '&soru4=' + nr4 + '&quizId=' + quizId,
                success: function (data) {
                    var json = JSON.stringify(data);
                    var obj = JSON.parse(json);
                    obj = JSON.parse(obj);

                    var harf = obj.Soru1cevap;

                    if (obj.Soru1 == true) {
                        $('#soru1-tasarim-' + harf).removeClass('btn btn-secondary active');
                        $('#soru1-tasarim-' + harf).addClass('btn btn-success');
                    }
                    else {
                        $('#soru1-tasarim-' + harf).removeClass('btn btn-secondary active');
                        $('#soru1-tasarim-' + harf).addClass('btn btn-danger');
                    }
                    harf = obj.Soru2cevap;
                    if (obj.Soru2 == true) {
                        $('#soru2-tasarim-' + harf).removeClass('btn btn-secondary active');
                        $('#soru2-tasarim-' + harf).addClass('btn btn-success');
                    }
                    else {
                        $('#soru2-tasarim-' + harf).removeClass('btn btn-secondary active');
                        $('#soru2-tasarim-' + harf).addClass('btn btn-danger');
                    }

                    harf = obj.Soru3cevap;
                    if (obj.Soru3 == true) {
                        $('#soru3-tasarim-' + harf).removeClass('btn btn-secondary active');
                        $('#soru3-tasarim-' + harf).addClass('btn btn-success');

                    }
                    else {
                        $('#soru3-tasarim-' + harf).removeClass('btn btn-secondary active');
                        $('#soru3-tasarim-' + harf).addClass('btn btn-danger');

                    }

                    harf = obj.Soru4cevap;
                    if (obj.Soru4 == true) {
                        $('#soru4-tasarim-' + harf).removeClass('btn btn-secondary active');
                        $('#soru4-tasarim-' + harf).addClass('btn btn-success');

                    }
                    else {
                        $('#soru4-tasarim-' + harf).removeClass('btn btn-secondary active');
                        $('#soru4-tasarim-' + harf).addClass('btn btn-danger');

                    }
                    if (data.status == "ok") {
                        {
                            // $("#results").html(data);
                    }
                    }
                }
            })
        })
    })
    </script>
</body>
</html>




