@model konusarakogren.Entity.Quiz
@{
    ViewData["Title"] = "QuizView";
}

<h1>QuizView</h1>

<html>
<head></head>
<body>
    @{ 
        <br />
            <input type="hidden" value="@ViewBag.quizid" id="quizid"/>
            <input type="text" value="adasasd" id="results" />
            @Html.Raw(ViewBag.posts);<br />
            @Html.Raw(ViewBag.description);<br />
        for (int i = 0; i < Convert.ToInt32(ViewBag.count); i++)
        {
            <br />

            @Html.Raw(ViewBag.questions[i]);
            <br />
            string a = "soru" + (i + 1);
            <input type="radio" name="@a" value="a"/><label>@ViewBag.a[i]</label>
            <input type="radio" name="@a" value="b"/><label>@ViewBag.b[i]</label>
            <input type="radio" name="@a" value="c"/><label>@ViewBag.c[i]</label>
            <input type="radio" name="@a" value="d"/><label>@ViewBag.d[i]</label>
        }
        <br />
        <input type="submit" value="Sınavı Bitir" id="checkSubmit"/>
    }
   
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#checkSubmit").click(function () {
            var nr1 = $("input[name='soru1']:checked").val();
            var nr2 = $("input[name='soru2']:checked").val();
            var nr3 = $("input[name='soru3']:checked").val();
            var nr4 = $("input[name='soru4']:checked").val();
            var quizId = $('#quizid').val();
            $.ajax({
                url: '@Url.Action("QuizCheck", "Home")?soru1=' + nr1 + '&soru2=' + nr2 + '&soru3=' + nr3 + '&soru4=' + nr4 + '&quizId=' + quizId,
                success: function (data) {
                    var json = JSON.stringify(data);
                    var obj = JSON.parse(json);
                    obj = JSON.parse(obj);

                    alert(obj.Soru1);

                    if (obj.Soru1 == true) {
                        $("input[name='soru1']:checked").removeClass();
                        $("input[name='soru1']:checked").addClass('sepiaImage');
                        //alert($("input[name='soru1']:checked").val());
                        //$("input[name='soru1']:checked").change(function ()
                        //{
                        //    $("input[name='soru1']:checked").removeClass();
                        //    $("input[name='soru1']:checked").addClass('sepiaImage');
                        //});
                    }
                    else {
                        $("input[name='soru1']:checked").change(function () {
                            alert($("input[name='soru1']:checked").val());
                            $("input[name='soru1']:checked").removeClass();
                            $("input[name='soru1']:checked").addClass('sepiaImage');
                        });
                    }
                    if (obj.Soru2 == true) {

                    }
                    else {

                    }
                    if (obj.Soru3 == true) {

                    }
                    else {

                    }
                    if (obj.Soru4 == true) {

                    }
                    else {

                    }
                    if (data.status == "ok") {
                        {
                            // $("#results").html(data);
                    }
                    }
                }
            })
        })
    })
</script>
</body>
</html>




